[Desktop Entry]
Type=Application
Name=Youtube
StartupWMClass=brave-www.youtube.com__-Default
Comment=Launch Youtube
Icon=youtube
Exec=brave --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --app="https://www.youtube.com/" %U
Terminal=false
