[Desktop Entry]
Type=Application
Name=DeepSeek
StartupWMClass=brave-chat.deepseek.com__-Default
Comment=Launch DeepSeek
Icon=deepseek
Exec=qutebrowser https://chat.deepseek.com/ --target window 
Terminal=false

