[Desktop Entry]
Name=Suspend
Comment=Put the computer to sleep or hibernate
Exec=systemctl suspend
Icon=
Terminal=false
Type=Application
Categories=System;
