[Desktop Entry]
Name=Sleep
Comment=Put the computer to sleep or hibernate
Exec=systemctl suspend
Icon=./suspend.png
Terminal=false
Type=Application
Categories=System;
