[Desktop Entry]
Type=Application
Name=ChatGPT
StartupWMClass=brave-chat.openai.com__-Default
Comment=Launch ChatGPT
Icon=system-shutdown
Exec=brave --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --app="https://chat.openai.com/" %U
Terminal=false
