[Desktop Entry]
Type=Application
Name=Gemini
StartupWMClass=brave-gemini.google.com__app-Default
Comment=Launch Gemini
Icon=gemini
Exec=brave --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --profile-directory=Default --app="https://gemini.google.com/app" %U 
Terminal=false





