[Desktop Entry]
Exec=ww -t -c systemsettings -f systemsettings
Name=setting
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
